@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

* {
  font-family: "Lexend", "sans-serif", "Courier New", Courier, monospace;
}

img {
  display: block;
  max-width: 100%;
}
